24. Data and Sampling Distributions - We sample data from population for analysis - also called Sampling - 
<h5>Sample</h5>A sample is a subset of data from a larger data set
<br>
<h5>Random Sampling</h5>Random sampling is a process in which each available member of the population
being sampled has an equal chance of being chosen for the sample at each draw.(with and without replacement both possible). Random sampling is not easy - labor intensive - defined population is required to create representative sample.
<br>
<h5>Sample Bias</h5>A sample that misrepresents the population.
<br>
<h5>Self-Selection Sampling Bias</h5>When we are getting the data from source which has some motivation for people to produce and there self selection have major impact on that data. This introduces the self selection bias.
<br>
<h5>Bias</h5>Errors introduced in data due to sampling process. There is difference between errors due to random chance and errors due to bias.
<br>
<h5>Size Versus Quality: When Does Size Matter?</h5>sometimes surprising that smaller is better. Time and effort spent on random sampling not only reduces bias but also allows greater attention to data exploration and data quality. The classic scenario for the value of big data is when the data is not only big but sparse as well.
<br>
<h5>Selection Bias</h5>Selection bias refers to the practice of selectively choosing data—consciously or unconsciously—in a way that leads to a conclusion that is misleading or ephemeral. Thought experiement of getting 10 heads in a row on coin flip. To test the selection bias we can put down hold out set for model validation
<br>
<h5>Regression to the mean</h5>Regression to the mean refers to a phenomenon involving successive measurements on a given variable: extreme observations tend to be followed by more central ones. Rookie of the year performs well in first season but why not in second. Its a consequence of selection bias - consecutive measurements tend to go to centre of all observations hence in second year same rookie will not perform as good.
<br>
<h5>Sampling Distribution</h5>When we have large amount of data - we take sample to calculate something - but it might have some error - so we take another sample and calculate the same thing and we go on doing this - and compare multiple samples for their distribution. Statistic we calculate from each of these samples - is normally distributed - bell shaped curve
<br>
<h5>Central Limit Theorem</h5>It says that the means drawn from multiple samples will resemble the familiar bell-shaped normal curve even if the source population is not normally distributed, provided that the sample size is large enough and the departure of the data from normality is not too great.
<br>
<h5>Standard Error</h5>The standard error is a single metric that sums up the variability in the sampling distribution for a statistic. SE = S/sqrt(n) -- As the sample size increases standard error decreases -- standard error measures the variability of sample statistic
<br>
<h5>The Bootstrap</h5>Draw additional samples, with replacement, from the sample itself and recalculate the statistic or model for each resample. Called bootstrap because it does not make any assuptions about the given data.

In [17]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import sqlite3
import warnings
from IPython.display import display, HTML
warnings.filterwarnings('ignore')

In [18]:
df = pd.read_csv("player.csv")
df

,Unnamed: 0,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...,...
11055,11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [19]:
keep = ['player_name', 'birthday', 'height', 'weight']
df = df[keep]

In [20]:
#BOOTSTRAP - taking sample with replacement - calculateing its statistic - for multiple samples and then calculating 
from sklearn.utils import resample
re = []
for i in range(2000):
    re.append(resample(df.height).mean())
redf = pd.Series(re)
print(redf.mean())
print(df.height.mean())
print('Bootstrap Statistics:')
print(f'original: {df.height.mean()}')
print(f'bias: {round(redf.mean() - df.height.mean(),6)}')
print(f'std. error: {redf.std()}')

181.8653552025255
181.86744484628662
Bootstrap Statistics:
original: 181.86744484628662
bias: -0.00209
std. error: 0.06327056222726682

In [ ]:
#NEW CODE